<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.mapper.MetaDataMapper">

	<select id="getMetaData" parameterType="com.example.demo.domain.MetaData" resultType="com.example.demo.domain.MetaData">
		SELECT
			url,
			title,
			description,
			image,
			saveTime
		FROM
			metaData
		WHERE
			url = #{url}
	</select>
	
	<insert id="insertMetaData" parameterType="com.example.demo.domain.MetaData">
		INSERT INTO metaData(
			url,
			title,
			description,
			image
		) VALUES(
			#{url},
			#{title},
			#{description},
			#{image}
		)
	</insert>
	
</mapper>