<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.mapper.TodoListMapper">

	<select id="getTotalCnt" resultType="int">
		SELECT
			COUNT(id)
		FROM
			todoList2
	</select>
	
	<select id="getTodoList" parameterType="com.example.demo.domain.TodoList" resultType="hashmap">
		SELECT 
			id,
			text,
			checked,
			color,
			moment
		from 
			todoList2
		WHERE
		 	useYn = 'Y'
	</select>
	
	<insert id="insertTodo" parameterType="com.example.demo.domain.TodoList">
		INSERT INTO todoList2(
			id,
			text,
			color
		) VALUES (
			#{id},
			#{text},
			#{color}
		)
	</insert>
	
	<update id="checkTodo" parameterType="com.example.demo.domain.TodoList">
		UPDATE todoList2 SET
			checked = #{checked}
		WHERE
			id = #{id}
	</update>
	
	<update id="deleteTodo" parameterType="com.example.demo.domain.TodoList">
		UPDATE todoList2 SET
			useYn = 'N'
		WHERE
			id = #{id}
	</update>

	<update id="updateItem" parameterType="com.example.demo.domain.TodoList">
		UPDATE todoList2 SET 
			text = #{text},
			color = #{color} 
		WHERE 
			id = #{id}
	</update>
	
</mapper>